.contato-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #4E99C6;
    box-shadow: 0 0 4px #202020;
}

.contato-container a {
    text-decoration: underline;
}

.contato-container p {
    font-size: 18px;
}

.contato-container i {
    font-size: 32px;
    margin-right: 7px;
}

.fale-comigo, .onde-me-encontrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.fale-comigo-titulo h3, .onde-me-encontrar h3 {
    text-wrap: nowrap;
    margin: 35px 0;
}

.email, .github {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.telefone, .linkedin {
    display: flex;
    align-items: center;
}
