.habilidades-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
}

.habilidades-titulo {
    margin-bottom: 53px;
}

.cards-habilidades {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.habilidades-front-end {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 48.93%;
    height: 354px;
    padding: 15px;
    box-shadow: 0 0 3px #2e2e2e;
    background-color: #2274A5;
    color: #fff;
}

.habilidades-front-end i, .habilidades-back-end i {
    font-size: 32px;
}

.progressos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-top: 32px;
    width: 93.47%;
}

.habilidade {
    margin-bottom: 14px;
    width: 100%;
}

.elementos-habilidade {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
}

.elementos-habilidade i {
    margin-right: 12px;
}

.barra-progresso-front-end {
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background-color: #0C4A6F;
}

.habilidades-back-end {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 48.93%;
    height: 354px;
    padding: 15px;
    box-shadow: 0 0 3px #2e2e2e;
    background-color: #E83F6F;
    color: #000;
}

.barra-progresso-back-end {
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background-color: #D50741;
}
