
@media (max-width: 576px) { 
    
}

@media (max-width: 768px) { 
    .texto-sobre-mim {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .texto-sobre-mim p{
        font-size: 0.9rem;
    }
    
    .img-sobre-mim {
        margin-bottom: 20px;
    }
    
    .sobre-container {
        flex-wrap: wrap-reverse;
        justify-content: center;
        margin: 0 auto;
    }

    .cards-projetos-container {
        display: none;
    }
    .projetos-mobile {
        display: flex;
    }

    .header-container {
        display: none;
    }

    .menu-mobile-container {
        display: flex;
    }

}

@media (max-width: 992px) {
    .texto-sobre-mim p{
        font-size: 0.8rem;
    }

    .habilidades-front-end {
        width: 100%;
    }

    .habilidades-back-end {
        width: 100%;
    }
    
}

@media (max-width: 1200px) {
    
}

@media (max-width: 1400px) {  }