
@media (max-width: 576px) { 
    .img-sobre-mim {
        display: none;
    }
}

@media (max-width: 768px) { 
    .texto-sobre-mim {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .texto-sobre-mim p{
        font-size: 0.9rem;
    }
    .sobre-container {
        flex-wrap: wrap-reverse;
        justify-content: center;
        margin: 0 auto;
    }
 }

@media (max-width: 992px) {
    .texto-sobre-mim p{
        font-size: 0.8rem;
    }
}

@media (max-width: 1200px) {
    
}

@media (max-width: 1400px) {  }