.projetos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.projetos-titulo {
    margin-bottom: 53px;
}

.cards-habilidades {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-projetos-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.projeto-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 220px;
    height: 332px;
    background-color: #2274A5;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.titulo-projeto p {
    font-weight: 700;
}

.descricao-projeto p {
    font-weight: 300;
}

.botoes-card {
    position: absolute;
    bottom: 15px;
    left: 12px;
}

.botoes-card button {
    width: 96px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #000000;
    font-size: 16px;
    font-weight: bold;
}

.button-ver-projeto {
    box-shadow: -1px 2px 0 #D50741, -3px 4px 0 #000000;
    background-color: #E83F6F;
}

.button-ver-projeto:active {
    box-shadow: inset -4px 4px 0 #D50741;
    font-size: 14px;
}

.button-repositorio {
    box-shadow: -1px 2px 0 #CC9900, -3px 4px 0 #000000;
    background-color: #FFBF00;
}

.button-repositorio:active {
    box-shadow: inset -4px 4px 0 #CC9900;
    font-size: 14px;
}
