* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    background-color: #FFBF00;
    margin-top: 60px;
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 34px;
    font-weight: 700;
}

h3 {
    font-size: 29px;
    font-weight: 700;
}

ul {
    list-style: none;
}

a, a:link, a:active, a:visited {
    color: #000000;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

section {
    width: 100%;
    margin: 200px 0;
}