.sobre-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto-sobre-mim {
    margin-right: 50px;
}

.texto-sobre-mim h3{
    margin-bottom: 14px;
}

.texto-sobre-mim p {
    font-size: 18px;
    font-weight: 300;
}

.curriculum-button {
    width: 110px;
    height: 55px;
    padding: 6px 27px;
    border-radius: 5px;
    background-color: #2274A5;
    border: 2px solid #000000;
    box-shadow: -1px 2px 0 #0C4A6F, -3px 4px 0 #000000;
    font-weight: bold;
    color: #fff;
    margin-top: 14px;
    font-size: 16px;
}

.curriculum-button:active {
    box-shadow: inset -4px 4px 0 #0C4A6F;
    font-size: 15px;
}